* {
	box-sizing: border-box;
}

/* Global */
html {
    font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #111111;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.section-header {
    font-size: 6rem;
    font-weight: 100;
    text-align: center;
}

.section-text {
    max-width: 700px;
    margin: 1em auto;
    text-align: center;
}

h1, h2, h3, h4 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

/* Header and Nav */
header {
    background-color: #fff;
    padding: 1rem 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

nav ul li {
    margin: 1em 1.5em;
}

nav ul li a {
    color: inherit;
    position: relative;
    text-decoration: none;
	transition: all 2s ease-in-out;
}

nav ul li a::before {
    position: absolute;
	top: 1.2em;
	content: "";
	height: 2px;
	width: 0;
	background-color: skyblue;
	transition: width .1s ease-in
}

nav ul li a:hover::before {
    width: 100%;
}

.current-page {
    color: skyblue;
}

/* Footer */
footer {
    min-height: 60px;
    background-color: skyblue;
}

/* Home */
#welcome {
    background-color: skyblue;
    padding: 4rem 0 6rem 0;
}

#welcome h1 {
    color: #fff;
    font-size: 6rem;
    font-weight: 100;
    text-indent: -1em;
    margin-left: 1em;
}

#welcome h1::first-line {
    font-size: 1.8em;
}

#aboutme {
    background-color: #fcfcfc;
    padding: 2rem 0 4rem 0;
}

/* Resume */
#resume {
    background-color: #fcfcfc;
    padding: 2rem 0 4rem 0;
}


.resume-container {
    display: flex;
    flex-wrap: wrap;
}

.resume-container-header {
    flex-basis: 100%;
    font-size: 3rem;
    font-weight: 700;
    border-bottom: 2px solid skyblue;
}

.resume-box {
   margin: 0 1rem;
}

.job-title {
    font-weight: 400;
    font-style: italic;
}

/* Media */
@media (max-width: 999px) {
    nav ul {
        justify-content: space-around;
    }

    .section-header {
        font-size: 5rem;
    }

    #welcome h1 {
        font-size: 4rem;
        text-indent: 0;
        margin-left: 0;
        text-align: center;
    }

    .resume-container-header {
        font-size: 2.5rem;
        font-weight: 700;
    }
}

@media (max-width: 599px) {
    .container {
        width: 100%;
    }

    nav ul li {
        margin: 1em 3em;
    }

    .section-header {
        font-size: 3.5rem;
    }

    #welcome h1 {
        font-size: 3rem;
        text-indent: 0;
        margin-left: 0;
        text-align: center;
    }

    #welcome h1::first-line {
        font-size: 1.5em;
    }

    .resume-container-header {
        font-size: 2rem;
    }
}