* {
	box-sizing: border-box;
}

/* Global */

html {
    height: 100%;
    font-family: 'Roboto', sans-serif;
	color: #111111;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fcfcfc;
}

.bg-white {
	background-color: #fff;
}

.bg-skyblue {
	background-color: #76cbec;
}

.white {
	color: #fff;
}

.skyblue {
	color: #76cbec;
}

.float-icon {
	float: left;
	margin-bottom: 1rem;
	margin-right: 1rem;
}

.btn {
    font-size: 1rem;
    font-weight: 700; 
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    padding: .75em;
    margin-right: .5em;
}

.container {
    width: 80%;
    margin: auto;
}

.icon-container {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	font-size: 4rem;
}

.section-container {
    padding: 2rem 0 4rem 0;
}

.icon-container > .icon {
	font-size: inherit;
}

.section-header {
    font-size: 6rem;
    font-weight: 100;
    text-align: center;
}

.section-text {
    max-width: 700px;
    margin: 1em auto;
    text-align: center;
}

h1, h2, h3, h4 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

/* Header and Nav */
header {
    position: relative;
    z-index: 1;
    padding: 1rem 0;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, .1);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

nav ul li {
	margin: 1em 1.5em;
	text-align: center;
}

nav ul li a {
    color: inherit;
    position: relative;
	text-decoration: none;
	transition: all 2s ease-in-out;
}

nav ul li a::before {
    position: absolute;
	top: 1.2em;
	content: "";
	height: 2px;
	width: 0;
	background-color: #76cbec;
	transition: width .1s ease-in
}

nav ul li a:hover::before {
    width: 100%;
}

/* Footer */
footer {
    margin-top: auto;
    min-height: 60px;
}

/* Home */
#welcome {
    padding: 4rem 0 6rem 0;
}

#welcome h1 {
    font-size: 6rem;
    font-weight: 100;
    position: relative;
}

#welcome h1 span {
    display: block;
}

#welcome-firstline {
    font-size: 1.8em;
    position: inherit;
    margin-left: -100px;
    opacity: 0;
    animation: 1.5s ease-out 0.1s 1 normal forwards welcome-animation;
}

#welcome-secondline {
    position: inherit;
    opacity: 0;
    animation: 1.5s ease-out 1s 1 normal forwards welcome-animation;
}

#aboutme-icons {
	display: flex;
	justify-content: space-between;
	max-width: 750px;
	margin: 3rem auto 0 auto;
}

/* Resume */
.resume-container {
    display: flex;
    flex-wrap: wrap;
}

.resume-container-header {
    flex-basis: 100%;
    font-size: 3rem;
    font-weight: 700;
    border-bottom: 2px solid #76cbec;
}

.resume-box {
   margin: 0 1rem;
}

.job-title {
    font-weight: 400;
    font-style: italic;
}

/* Projects */
.projects-flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.projects-box {
	max-width: 600px;
	padding: 2rem;
	border-radius: 5px;
    margin: 1rem;
}

.projects-title {
	font-size: 2rem;
    font-weight: 700;
    margin-top: 0;
	border-bottom: 2px solid #fff;
}

.btn-container {
    display: flex;
    justify-content: center;
}

/* Contact */

/* Animation */
@keyframes welcome-animation {
    0%      {left: 0;
            opacity: 0;}
    100%    {left: 100px;
            opacity: 1;}
}

@keyframes slidein-right {
    0%      {left: -50px;
            opacity: 0;}
    100%    {left: 0;
            opacity: 1;}
}

@keyframes slidein-left {
    0%      {right: 50px;
            opacity: 0;}
    100%    {right: 0;
            opacity: 1;}
}

/* Media */
@media (max-width: 999px) {
    nav ul {
        justify-content: space-around;
    }

    .section-header {
        font-size: 5rem;
    }

    #welcome h1 {
        font-size: 4rem;
        text-align: center;
        position: static;
    }

    #welcome-firstline {
        margin-left: 0;
    }

    .resume-container-header {
        font-size: 2.5rem;
    }
}

@media (max-width: 599px) {
    .container {
        width: 100%;
    }

	nav ul li {
		flex-basis: 25%;
	}

    .section-header {
        font-size: 3.5rem;
    }

    #welcome h1 {
        font-size: 3rem;
    }

    #welcome-firstline {
        font-size: 1.5em;
	}

	#aboutme-icons {
		justify-content: space-around;
	}
	
	.icon-container {
		width: 75px;
		height: 75px;
		font-size: 3rem;
	}

    .resume-container-header {
        font-size: 2rem;
	}
}